*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us{
    padding: 110px 0 105px;
}
.about-us__ttext{
    text-align: center;
    max-width: 739px;
    margin: 0 auto 50px;
}
.about-us__text{
    max-width: 730px;
    margin: 0 auto 3%;
    text-align: left;

}
/* .about-us__btext{
text-align: left;
} */
.row{
    display: flex;
    gap: 30px;
    max-width: 1300px;
}
.col{
    flex:1;
    font-size: 1.5rem;
    text-align:left;
    padding-left: 50px;
}
.col img{
    width: 90%;
}