@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  background-color: grey;
  font-family: "Monserrat";
}
.home__title {
  color: rgb(247, 223, 7);
  font-size: 4rem;
}
.home {
  text-align: center;
  padding-top: 225px;
  background: url(../src/images/home/home2.jpg);
  width: 1400px;
  height: 600px;
  max-width: 1500px;
  margin: 98px auto 0;
  background-color: #003c68;
  mix-blend-mode: multiply;
}